@import '~@angular/material/theming';
@import "app/scss/vars";

$palette-main: (
  50 : #fdf1e1,
  100 : #fbdbb4,
  200 : #f9c382,
  300 : #f6ab50,
  400 : #f4992b,
  500 : #f28705,
  600 : #f07f04,
  700 : #ee7404,
  800 : #ec6a03,
  900 : #e85701,
  A100 : #ffffff,
  A200 : #ffe7dc,
  A400 : #ffc4a9,
  A700 : #ffb290,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$palette-accent: (
  50 : #e2e4e5,
  100 : #b7bcbe,
  200 : #888f93,
  300 : #586267,
  400 : #344047,
  500 : #101e26,
  600 : #0e1a22,
  700 : #0c161c,
  800 : #091217,
  900 : #050a0d,
  A100 : #52a4ff,
  A200 : #1f8aff,
  A400 : #0070eb,
  A700 : #0064d1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$palette-error: (
  50 : #f1e5e1,
  100 : #ddbeb3,
  200 : #c69381,
  300 : #af684f,
  400 : #9d4729,
  500 : #8c2703,
  600 : #842303,
  700 : #791d02,
  800 : #6f1702,
  900 : #5c0e01,
  A100 : #ff958d,
  A200 : #ff655a,
  A400 : #ff3527,
  A700 : #ff1d0e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$glc-app-primary: mat-palette($palette-main, 700, 500, 900);
$glc-app-accent: mat-palette($palette-accent, 500, 400, 600);
$glc-app-error: mat-palette($palette-error, 600, 500, 800);

$glc-theme: mat-dark-theme($glc-app-primary, $glc-app-accent, $glc-app-error);

@include angular-material-theme($glc-theme);
